<p class="text-danger fst-italic fs-5">Welcome <%= @email %>!</p>

<p class="text-dark fst-italic fs-5">You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
